.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  padding: 30px;
  background-color: var(--primary-bg);
  color: var(--secondary-color);
}
.header__title {
  text-align: center;
}

.main {
  flex-grow: 1;
  position: relative;
  padding: 15px 0;
}

.search {
  padding: 0;
}
.search__top {
  display: flex;
}
.search__input {
  width: 100%;
  padding: 10px 0;
  border: none;
  border-bottom: 1px solid var(--primary-bg);
  outline: none;
  font-size: 16px;
  transition: all 0.3s;
}
.search__input:focus {
  border-color: rgb(28, 98, 205, 0.3);
}
.search__btn {
  padding: 5px 10px;
  background-color: var(--primary-bg);
  color: var(--secondary-color);
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 0 3px 3px 0;
  transition: all 0.3;
}
.search__btn:hover {
  opacity: 0.8;
}
.search__bottom {
  display: flex;
  gap: 30px;
  padding: 15px 0 0;
}
.search__bottom label,
.search__bottom input {
  cursor: pointer;
}

.movie__list {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
  padding: 30px 0;
}
.movie__not-found {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  text-align: center;
}

.movie__item {
  display: flex;
  flex-direction: column;
  padding: 10px 10px 20px;
  border: 1px solid var(--primary-color);
}
.movie__img {
  max-width: 100%;
  margin-bottom: 20px;
}
.movie__year {
  font-size: 16px;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}
.pagination__btn {
  width: 30px;
  height: 30px;
  border: 1px solid var(--primary-color);
  border-radius: 3px;
  transition: all 0.3s;
}
.pagination__btn:hover,
.pagination__btn--active {
  background-color: var(--primary-bg);
  color: var(--secondary-color);
  border-color: var(--primary-bg);
}

.footer {
  padding: 20px;
  background-color: var(--secondary-bg);
}
.footer__content {
  text-align: center;
}
.footer__link {
  color: var(--primary-bg);
  font-weight: bold;
  transition: all 0.3s;
}
.footer__link:hover {
  opacity: 0.7;
}

.loader {
  background: linear-gradient(to right, #fb05d1, #ff1286);
  background-color:#ccc;
  width: 700px;
  height: 4px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  border-radius: 4px;
  background-size: 20%;
  background-repeat: repeat-y;
  background-position: -25% 0;
  animation: scroll 1.2s ease-in-out infinite;
}

@keyframes scroll{
  50%{background-size:80%}
  100%{background-position:125% 0;}
}
